@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

div.project-container  h1 {
  @apply .text-gray-800;
  @apply .text-5xl;
  @apply .leading-none;
  @apply .mb-4;
}

code {
  @apply .px-2 .py-1 .bg-gray-200;
  font-family: 'Source Code Pro', monospace;
  color: DeepPink;
}

div.project-container > h2 {
  @apply .text-gray-700;
  @apply .text-2xl;
}

div.project-container > h3,
div.project-container > h4,
div.project-container > h5 {
  @apply .text-gray-800 .font-semibold;
  @apply .text-xl;
  @apply .mt-6;
}

div.project-container > h6 {
  @apply .text-gray-600;
  @apply .text-lg;
  @apply .mb-4;
}

div.project-container  p {
  @apply .mb-6 .mt-3;
  @apply .leading-normal;
  @apply .text-xl;
  @apply .text-gray-600;
}

div.project-container > p > a:link,
div.project-container > p > a:visited {
  @apply .text-blue-400;
  @apply .no-underline;
  @apply .border-b-4;
}

div.project-container > p > a:hover {
  @apply .text-blue-600;
}

div.project-container > ol {
  counter-reset: ol-counter;
}

div.project-container > ol li, div.project-container > ul li {
  @apply .ml-2 .my-2;
  @apply .text-xl;
  @apply .text-gray-700;
}

div.project-container > ol li {
  counter-increment: ol-counter;
}

div.project-container > ol li:before {
  content: counter(ol-counter) ". ";
}

blockquote {
  @apply .relative .mt-6;
  text-shadow: 0 1px white;
}

//blockquote:before {
//@apply .text-gray-400;
//content: open-quote;
// position: absolute;
// top: -.4em;
// left: 0;
// opacity: .2;
// font-size: 9.5em;
//}

blockquote p {
  @apply .pl-10 .pt-6;
  @apply .text-xl;
  font-family: Georgia;
  @apply .italic;
  @apply .text-gray-700;
  @apply .inline;
  @apply .leading-relaxed;
}

blockquote > p:before {
  @apply .text-gray-400;
  content: open-quote;
  position: absolute;
  top: -.4em;
  opacity: .3;
  left: -.1em;
  font-size: 6.5em;
}

cite {
  font-family: Georgia;
  @apply .text-gray-600 .text-xl;
  @apply .ml-12;
}

cite:before {
  content: '-- ';
}

a.facebook {
  color: #3C5A99;
}

a.twitter {
  color: #1DA1F2;
}

.blog-main-image {
  @apply .shadow;
}

.hljs {
  @apply .shadow-lg;
  @apply .mb-3;
}
