@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  @apply .bg-gray-100;
}

.required:after {
  content: "*";
  @apply .text-red-700;
  @apply .font-semibold;
}

.fb {
  background: rgb(59, 89, 152);
}

.transition {
  transition: 0.5s;
}

.title {
  display: inline-block;
  @apply .mb-4;
}

.title:after {
  padding-bottom: .2rem;
  display: block;
  content: '';
  border-bottom: solid 4px #12283A;
  transform: scaleX(0.1);
  transition: transform 250ms ease-in-out;
}

.title:hover:after {
  transform: scaleX(1);
}

.title:after {
  transform-origin: 0 50%;
}

a {
  transition: color .2s ease-out, background .2s ease-in;
}
