header {
	background: #3366FF;
    background: -webkit-linear-gradient(#3366CC, #3366FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3366CC, #3366FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3366CC, #3366FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3366CC, #3366FF); /* Standard syntax */
	height: 100vh;
	color: #fff;
	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}

section {
	margin: 0;
	paddin: 50px;
	min-height: 500px;
}

.swal2-popup {
	font-size: 1.6rem !important;
}