body {
    font-family: 'Roboto', sans-serif;
}

.mont {
    font-family : 'Montserrat', sans-serif;
}

.banner {
    background : #12283a;
    background : url("../images/code.png");
}

.fb {
    background: rgb(59, 89, 152);
}