.banner {
    background : #12283a;
}

.banner::after {
    content    : "";
    background : url("../images/code.jpg");
    opacity    : 0.1;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    position   : absolute;
    z-index    : 1;
}